<main class="ui container">
  <h1>My cats</h1>
  <table class="ui celled striped table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Avatar</th>
        <th>State</th>
        <th>Fluffiness</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |cat|}}
        {{cat-row cat=cat data-test-cat=true}}
      {{/each}}
    </tbody>
  </table>
</main>